<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CAR DREAM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-start text-danger" href="{{path('home')}}">Car Dream</a>{% if post %} {{post.title}} {% endif %}
            <a class="navbar-brand d-flex justify-content-end text-danger" href="{{path('form_post')}}">Add post</a>
        </div>
    </nav>
    {% if post %} {{post.title}} {% endif %}

    <div class="container-fluid">

        <form>


            <label for="title " class="font-weight-bold text-uppercase">Title</label>
            <input type="text " class="form-control col-sm-3 " id="title" name="title">


            <label for="author " class="font-weight-bold text-uppercase">author</label>
            <input type="text " class="form-control col-sm-3" id="author" name="author">




            <label for="content " class="font-weight-bold text-uppercase">Content</label>
            <textarea class="form-control " name="content" id="content" rows="3 "></textarea>
            <button type="submit" class="text-uppercase btn btn-danger ">ADD</button>


        </form>
    </div>





</body>

</html>