<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show One Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-start text-danger" href="{{path('home')}}">Car Dream</a>
            <a class="navbar-brand d-flex justify-content-end text-danger" href="{{path('form_post')}}">Add post</a>
        </div>
    </nav>



    <div class="card col-sm">
        <div class="card-header">
            {{post.title}}
        </div>
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
            <p class="card-text"> POST BY "{{post.author}}"</p>

        </div>
        <a href="{{path('deletepost', {id:post.id})}}" class="card-link">Delete post</a>
    </div>
</body>

</html>