<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CAR DREAM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-start text-danger">Car Dream</a>
            <a class="navbar-brand d-flex justify-content-end text-danger" href="{{path('form_post')}}">Add post</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search POST</button>
            </form>
        </div>
    </nav>
    <div class='container-fluid'>
        <div class="row">
            {% for post in posts %}

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">BY {{post.author}}</p>
                        <a href="{{path('one_post', {id:post.id})}}" class="btn btn-danger">GO</a>
                    </div>

                </div>


            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>